<table class="table table-striped">
  <thead>
    <div class="row">
      <div class="form-group col-6">
        <label for="SelectSexo">Sexo</label>
        <select class="form-control" id="sexo" name="sexo" [(ngModel)]="sexo" (ngModelChange)="filter()">
          <option *ngFor="let sex of sexos" [value]="sex.code">{{sex.name}}</option>
        </select>
      </div>
      <button type="button" class="btn btn-primary">Pesquisar</button>
    </div>  
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOME</th>
        <th scope="col">E-MAIL</th>
        <th scope="col">SEXO</th>
        <th scope="col">PARTIDO</th>
        <th scope="col">UF</th>
        <th scope="col">FOTO</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dadosFiltro">
      <th scope="row">{{ item.id }}</th>
      <td>{{item.nome}}</td>
      <td>{{item.email}}</td>
      <td>{{item.dadosDeputado?.dados?.sexo}}</td>
      <td>{{item.dadosDeputado?.dados?.ultimoStatus?.siglaPartido}}</td>
      <td>{{item.siglaUf}}</td>
      <td><img [src]="item.dadosDeputado?.dados?.ultimoStatus?.urlFoto" alt="" style="width: 100px;"></td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>
</div>
<div>
  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="30">30 deputados por pagina</option>
    <option [ngValue]="50">50 deputados por pagina</option>
    <option [ngValue]="100">100 deputados por pagina</option>
  </select>
</div>